body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  margin: 0px;
}

#greeting-card {
  text-align: center;
  width: 100%;
  margin: 0px;
  background-color: whitesmoke;
  color: rgb(18, 20, 21);
}



#student-container {
  width: 80%;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
  width: 250px;
  text-align: center;
}

#greeting-card {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#house-btn-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0px;

}

.btn {
width: 80%;
margin: 0px ;
flex: 1 1;
border-radius: 0px;
}


#startSorting, #submitStudent {
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  margin: 25px auto;
}

.expel {
  width: 60%;
  border-radius: 5px;
  padding: 5px 10px;
}

form {
  width: 60%;
  margin: 50px auto 20px auto;
  padding: 20px 40px;
  background-color: whitesmoke;
}

/* #sort-new {
  border-radius: 10px;
  margin-top: 30px !important;
} */

#first-years {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.col-md-4, .col-md-8 {
  width: 300px;
}
