body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  margin: 0px;
}

#greeting-card {
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 40px !important;
  background-color: rgb(185, 192, 209);
  color: rgb(18, 20, 21);
}



#student-container {
  width: 80%;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
  width: 250px;
  text-align: center;
}

#greeting-card {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#house-btn-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0px;

}

.btn {
width: 20%;
margin: 0px ;
flex: 1 1;
border-radius: 0px;
}


#startSorting {
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  margin: 15px auto;
}

form {
  width: 40%;
  margin: 50px auto 20px auto;
  padding: 20px 40px;
  background-color: whitesmoke;
}
