body {
  /* background-image: url("night\ sky.jpeg"); */
  margin: 0px;
  padding: 0px;
}

#header {
  text-align: center;
  width: 100%;
  margin: 0px 0px 50px 0px;
  padding: 50px 0px 0px 0px;
  background-color: rgba(21, 25, 152, 0.533);
  color: whitesmoke;
}
#main-container {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#student-container {
  width: 80%;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
  width: 250px;
  text-align: center;
}

/* .input-btn-container{
  background-color: whitesmoke;
  height: 200px;
} */

#house-btn-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 50px;
}

.btn {
width: 20%;
margin: 0px !important;
flex: 1 1;
border-radius: 0px;
}

#greeting-container {
  width: 500px;
  margin: 200px auto;
  text-align: center;
}


#startSorting {
  width: 100%;
}
